// ui components
@use "./button.scss";
@use "./icon-button.scss";
@use "./select.scss";

// global
@use "./constants.scss" as consts;

// layout components
@use "./app-actions";
@use "./effect-actions";
@use "./effects-panel";
@use "./effects-list.scss";
@use "./effects-queue.scss";
@use "./effects-properties";
@use "./effects-properties-tabs";
@use "./scene-actions";

* {
  transition: height 0.2s ease-out;
}

main {
  display: flex;
  width: 100vw;
  height: 100dvh;
  background: var(--background);
  overflow: hidden;

  @media (width < consts.$mobile) {
    flex-direction: column;
  }
}

.canvas-wrapper {
  position: relative;
  width: calc(100% - var(--settings-panel-width));

  @media (width < consts.$mobile) {
    width: 100%;
    height: calc(100% - var(--settings-panel-height));
  }
}

.effect-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sampler-2d-input {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  input {
    border: none;
    width: 16px;
    height: 16px;
    padding: 0;

    &::-webkit-color-swatch-wrapper {
      padding: 0;
    }
  }
}
